definition_version: 2
entities:
  streamlit_app:
    type: streamlit
    main_file: Pending Smoothie Orders.py
    artifacts:
      - pyproject.toml
      - Pending Smoothie Orders.py
      - .streamlit/config.toml
